<GridLayout
    verticalAlignment="bottom"
    paddingTop="25"
    rows="auto, auto, auto, auto"
    columns="*, auto"
    class="bg-color-default"
    borderRadius="15 15 0 0">
    
    <Label row="0" col="0" margin="0 25" text="SEARCH" fontSize="30" class="bold text-color-primary"></Label>
    <GridLayout
        row="0"
        col="1"
        padding="10"
        margin="0 25"
        (tap)="openFilterBottomsheet()">
        <Label
            verticalAlignment="center"
            [text]="icons.filter"
            textAlignment="right"
            color="#444"
            fontSize="25"
            class="ionicons"></Label>
    </GridLayout>

    <GridLayout
        row="1"
        col="0"
        colSpan="2"
        columns="auto, *"
        margin="15 25 0 25"
        padding="10"
        borderRadius="10"
        backgroundColor="#eee">
        <Label
            col="0"
            verticalAlignment="center"
            [text]="icons.search"
            color="#777"
            fontSize="25"
            class="ionicons"></Label>
        <TextField col="1" marginLeft="10" fontSize="20" hint="Batman"></TextField>
    </GridLayout>

    <ScrollView
        row="2"
        col="0"
        colSpan="2"
        orientation="horizontal"
        width="100%">
        <StackLayout orientation="horizontal" padding="10 25">
            <!-- <ng-container *ngFor="let category of (categories$ | async)">
                <ContentView marginRight="10">
                    <ns-tag [tagText]="category.displayName"></ns-tag>
                </ContentView>
            </ng-container> -->
        </StackLayout>
    </ScrollView>

    <ScrollView row="3" col="0" colSpan="2" height="400">
        <StackLayout margin="10 25 25 25">
            <!-- <ng-container *ngFor="let movie of (searchResult$ | async)">
                <ContentView marginBottom="10">
                    <ns-search-card
                        [title]="movie.title"
                        [imageSrc]="movie.image.thumbnail"
                        [description]="movie.description"></ns-search-card>
                </ContentView>
            </ng-container> -->
        </StackLayout>
    </ScrollView>

</GridLayout>
