/* Fonts */

.fa {
  font-family: FontAwesome, fontawesome-webfont;
}

.ionicons {
  font-family: Ionicons, ionicons;
}

.bold {
  font-family: "Poppins Bold", Poppins-Bold;
  font-weight: 700;
}

.medium {
  font-family: "Poppins Medium", Poppins-Medium;
  font-weight: 500;
}

.regular {
  font-family: "Poppins Regular", Poppins-Regular;
  font-weight: 400;
}

.light {
  font-family: "Poppins Light", Poppins-Light;
  font-weight: 300;
}

.ion-alert:before {
  content: "\f101";
}

/* Colors */
.ns-root {
  --color-primary: #65adf1;
  --color-text-default: #393838;
  --color-text-gray: #444;
  --color-bg-default: #fefefe;
}

Label {
  color: var(--color-text-default);
  font-family: "Poppins Regular", Poppins-Regular;
  font-weight: 400;
}

.text-color-primary {
  color: var(--color-primary);
}

.text-color-gray {
  color: var(--color-text-gray);
}

.bg-color-primary {
  background-color: var(--color-primary);
}

.bg-color-default {
  background-color: var(--color-bg-default);
}

.glow-shadow {
  box-shadow: 0 0 5px rgba(0,0,0,.8);
}